.env.integration
./aurelian
aurelian
*.test
aurelian.log
aurelian-output/
.devcontainer
.vscode
.DS_Store
.go-ignore
aurelian
np-debug.json
bin/*
bin
test/links/*.json
.vscode/launch.json
.go-version
out.json
.idea/modules.xml
.idea/aurelian.iml
.idea/vcs.xml
.idea/workspace.xml
debug.log*
*.json
docker-images
.claude/.output
.worktrees/
